:root {
    --main-colorsblanc-deskiz: rgba(255, 255, 255, 1);
    --main-colorsbleu-fonc-deskiz: rgba(3, 43, 68, 1);
    --main-colorsjaune-deskiz: rgba(253,200,0,1);
    --main-colorsrouge-deskiz: rgba(255, 65, 76, 1);
    --main-colorsbleu-deskiz: rgba(4, 216, 216, 1);
    --main-colorsgreen-deskiz: rgba(4, 216, 114, 1);
    --secondary-colorsjaune-blanc-cass-deskiz: rgba(255, 250, 232, 1);
    --secondary-colorsbleu-deskiz-cass: rgba(3, 166, 166, 1);
    --secondary-colorsrouge-deskiz-cass: rgba(219, 55, 63, 1);
    --secondary-colorsjaune-deskiz-cass: rgba(190, 154, 20, 1);
    --secondary-colorsbleu-blanc-deskiz: rgba(241, 250, 255, 1);
    --secondary-colorsjaune-blanc-deskiz: rgba(254, 241, 191, 1);
    --secondary-colorsbleu-cass-deskiz: rgba(100, 135, 156, 1);
    --secondary-colorsvert-deskiz-cass: rgba(3, 171, 90, 1);
    --secondary-colorsrouge-blanc-cass-deskiz: rgba(255, 249, 249, 1);
    --specificspanel-hover-button: rgba(10, 58, 88, 1);
    --specificsdark-blue-selected: rgba(0, 27, 38, 1);
    --specificspurple-for-stats: rgba(157, 79, 219, 1);
    --red-deskiz10-red: rgba(255, 65, 76, 1);
    --red-deskiz20-red: rgba(255, 65, 76, 1);
    --red-deskiz40-red: rgba(255, 65, 76, 1);
    --red-deskiz60-red: rgba(255, 65, 76, 1);
    --red-deskiz80-red: rgba(255, 65, 76, 1);
    --red-deskiz120-red: rgba(255, 65, 76, 1);
    --red-deskiz140-red: rgba(255, 65, 76, 1);
    --red-deskiz160-red: rgba(255, 65, 76, 1);
    --red-deskiz180-red: rgba(255, 65, 76, 1);
    --red-deskiz190-red: rgba(255, 65, 76, 1);
    --blue-deskiz10-blue: rgba(4, 216, 216, 1);
    --blue-deskiz20-blue: rgba(4, 216, 216, 1);
    --blue-deskiz40-blue: rgba(4, 216, 216, 1);
    --blue-deskiz60-blue: rgba(4, 216, 216, 1);
    --blue-deskiz80-blue: rgba(4, 216, 216, 1);
    --blue-deskiz120-blue: rgba(4, 216, 216, 1);
    --blue-deskiz140-blue: rgba(4, 216, 216, 1);
    --blue-deskiz160-blue: rgba(4, 216, 216, 1);
    --blue-deskiz180-blue: rgba(4, 216, 216, 1);
    --blue-deskiz190-blue: rgba(4, 216, 216, 1);
    --yellow-deskiz10-yellow: rgba(253, 200, 0, 1);
    --yellow-deskiz20-yellow: rgba(253, 200, 0, 1);
    --yellow-deskiz40-yellow: rgba(253, 200, 0, 1);
    --yellow-deskiz60-yellow: rgba(253, 200, 0, 1);
    --yellow-deskiz80-yellow: rgba(253, 200, 0, 1);
    --yellow-deskiz120-yellow: rgba(253, 200, 0, 1);
    --yellow-deskiz140-yellow: rgba(253, 200, 0, 1);
    --yellow-deskiz160-yellow: rgba(253, 200, 0, 1);
    --yellow-deskiz180-yellow: rgba(253, 200, 0, 1);
    --yellow-deskiz190-yellow: rgba(253, 200, 0, 1);
    --green-deskiz10-green: rgba(4, 216, 114, 1);
    --green-deskiz20-green: rgba(4, 216, 114, 1);
    --green-deskiz40-green: rgba(4, 216, 114, 1);
    --green-deskiz60-green: rgba(4, 216, 114, 1);
    --green-deskiz80-green: rgba(4, 216, 114, 1);
    --green-deskiz120-green: rgba(4, 216, 114, 1);
    --green-deskiz140-green: rgba(4, 216, 114, 1);
    --green-deskiz160-green: rgba(4, 216, 114, 1);
    --green-deskiz180-green: rgba(4, 216, 114, 1);
    --green-deskiz190-green: rgba(4, 216, 114, 1);
    --blueblack-deskiz10-blueblack: rgba(3, 43, 68, 1);
    --blueblack-deskiz20-blueblack: rgba(3, 43, 68, 1);
    --blueblack-deskiz40-blueblack: rgba(3, 43, 68, 1);
    --blueblack-deskiz60-blueblack: rgba(3, 43, 68, 1);
    --blueblack-deskiz80-blueblack: rgba(3, 43, 68, 1);
    --blueblack-deskiz120-blueblack: rgba(3, 43, 68, 1);
    --blueblack-deskiz140-blueblack: rgba(3, 43, 68, 1);
    --blueblack-deskiz160-blueblack: rgba(3, 43, 68, 1);
    --blueblack-deskiz180-blueblack: rgba(3, 43, 68, 1);
    --blueblack-deskiz190-blueblack: rgba(3, 43, 68, 1);
    --title-tri-title-font-family: "Eskool-Regular", Helvetica;
    --title-tri-title-font-weight: 400;
    --title-tri-title-font-size: 84px;
    --title-tri-title-letter-spacing: 0px;
    --title-tri-title-line-height: normal;
    --title-tri-title-font-style: normal;
    --title-NT-title-font-family: "Eskool-Regular", Helvetica;
    --title-NT-title-font-weight: 400;
    --title-NT-title-font-size: 84px;
    --title-NT-title-letter-spacing: 0px;
    --title-NT-title-line-height: normal;
    --title-NT-title-font-style: normal;
    --shadow-badge: 0px 2.5px 0px 0px rgba(0, 0, 0, 0.25);
    --shadow-badge-sur-fond-noir: 0px 6px 0px 0px rgba(2, 31, 50, 1);
    --shadow-text: 0px 2px 0px 0px rgba(0, 0, 0, 0.15);
    --PPT-shadow-badge: 1px 5px 0px 0px rgba(0, 0, 0, 0.35);
    --shadow-zoom-PPT: 0px 2px 4px 0px rgba(82, 82, 82, 0.15);
    --phone-drop-shadow: 0px 78px 46px -18px rgba(0, 32, 52, 1);
    --shadow-match-card: 11px 23px 88.5103988647461px 0px rgba(3, 43, 68, 0.15);
    --checkbox-politiquedeconfidentialit-clickable: none;
}
