/*Fonts de la plateforme*/
@font-face {
    font-family: 'alpinoblack';
    src: url('../font/alpino-black-webfont.woff2') format('woff2'),
         url('../font/alpino-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alpinobold';
    src: url('../font/alpino-bold-webfont.woff2') format('woff2'),
         url('../font/alpino-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alpinolight';
    src: url('../font/alpino-light-webfont.woff2') format('woff2'),
         url('../font/alpino-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alpinomedium';
    src: url('../font/alpino-medium-webfont.woff2') format('woff2'),
         url('../font/alpino-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alpinoregular';
    src: url('../font/alpino-regular-webfont.woff2') format('woff2'),
         url('../font/alpino-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alpinothin';
    src: url('../font/alpino-thin-webfont.woff2') format('woff2'),
         url('../font/alpino-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alpino_variableregular';
    src: url('../font/alpino-variable-webfont.woff2') format('woff2'),
         url('../font/alpino-variable-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'eskoolregular';
    src: url('../font/eskool-regular-webfont.woff2') format('woff2'),
         url('../font/eskool-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*Body - Header - Footer */
body {
  padding: 0;
  margin: 0;
}

ul {
  padding-left: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

p {
  margin: 0;
}

/*-------------Barre de navigation - Entreprises POV [#_not_connected]-------------*/
#nav_not_connected .container {
  background: var(--main-colors-bleu-fonc-deskiz, #032B44);
  overflow: hidden;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 50px;
  margin-bottom: -2px;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  z-index: 999;
}

/*Responsive Navbar*/
@media screen and (max-width: 1700px) {
  #nav_not_connected .container  {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #nav_not_connected .container .navbar_right .square_default_secondary_false_button {
    padding: 14px 20px;
  }
  #nav_not_connected .container .navbar_right .square_default_secondary_2D_button {
    padding: 14px 20px;
  }
}

#nav_not_connected .container .navbar_left .home_logo {
  margin-left: -15px;
}

#nav_not_connected .container .navbar_left .home_logo a {
  margin: 15px 25px 15px 15px;
}

#nav_not_connected .container .navbar_left .home_logo img {
  display: flex;
  align-items: center;
  max-width: 50px;
  margin-bottom: 5px;
}

#nav_not_connected .container .navbar_left {
  display: flex;
  align-items: center;
  list-style: none;
  height: 50px;
}

#nav_not_connected .container .navbar_right {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: -15px;
}

#nav_not_connected .container a {
  color: var(--main-colors-blanc-deskiz, #FFF);
  font-family: Alpino;
  font-size: calc(1.125em + 0.375vw);
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 100% */
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  margin: 15px 15px;
  text-decoration: none;
  transition: all 0.25s ease;
}

#menu_hamburger {
  display: none;
  cursor: pointer;
  font-size: 28px;
}

#nav_not_connected .container .navbar_hamburger {
  display: none;
}

/*Responsive Navbar Sur téléphone*/
@media screen and (max-width: 1200px) {
  #nav_not_connected .container .navbar_left li:not(.home_logo) {display: none;}
  #nav_not_connected .container .navbar_right {display: none;}
  #nav_not_connected .container .navbar_hamburger {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 999;
    list-style: none;
    right: -100%;
    top: 10%;
    width: 100%;
    text-align: center;
    align-items: center;
    transition: 0.25s;
    padding-bottom: 20px;
    padding-top: 20px;
    background: var(--main-colors-bleu-fonc-deskiz, #032B44);
  }
  .container .navbar_hamburger .square_default_secondary_false_button {
    min-width: 111%;
  }
  .container .navbar_hamburger li {
      display: flex;
      justify-content: center;
  }
  #menu_hamburger {
    display: flex;
    align-items: center;
  }
  #menu_hamburger:before {
    content: "\2630";
    color: white;
  }
  .active #menu_hamburger:before {
    content:"\2715";
  }
  /*Lien avec JS pour Toggle du menu hamburger*/
  nav.active  ul {
    right:0 !important;
  }
}

/*Animation UI*/
#nav_not_connected .container .navbar_left a:hover {
  color: var(--main-colorsjaune-deskiz, rgba(253, 200, 0, 1));
}

#nav_not_connected .container .navbar_hamburger a:hover {
  color: var(--main-colorsjaune-deskiz, rgba(253, 200, 0, 1));
}

/*-----------Fin Barre de navigation - Entreprises POV [#_not_connected]-----------*/




/*-----------------------PAGE ACCUEIL GLOBAL [#_hp_all]-----------------------*/
/*-----------------------------------Header-----------------------------------*/
#header_hp_all {
  position: absolute;
  overflow: hidden;
  background: var(--main-colorsbleu-fonc-deskiz, rgba(3, 43, 68, 1));
  height: calc(100vh - 128px);
  width: 100%;
  margin: 0;
}

#header_hp_all .container h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: var(--main-colors-blanc-deskiz, #FFF);
  text-align: center;
  font-family: Alpino;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 105%; /* 73.5px */
  letter-spacing: -2px;
  margin-block-start: 0.5em;
  margin-block-end: 1em;
}

#header_hp_all .container img {
  height: 2em;
}

#header_hp_all .container .wrapper {
  padding-left: 10%;
  padding-right: 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap : 1em 3.5em;
}

#header_hp_all .container .wrapper .first_column a {
  text-decoration: none;
}

#header_hp_all .container .wrapper .second_column a {
  text-decoration: none;
}

/*Responsive Navbar Sur téléphone*/
@media screen and (max-width: 1400px) {
  #header_hp_all .container .wrapper {
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30%;
    justify-content: center;
    grid-gap: 1em 3.5em;
  }
  #header_hp_all .container .wrapper .first_column {
    align-items: center !important;
    justify-content: center !important;
  }
  #header_hp_all .container .wrapper .second_column {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
  }
  #header_hp_all .container .wrapper .first_column .item.item-1 {
    flex-direction: initial;
    overflow: hidden;
    height: 30%;
    padding-top: 3%;
    padding-bottom: 3%;
    min-height: 145px;
  }
  #header_hp_all .container .wrapper .second_column .item.item-2 {
    flex-direction: initial;
    overflow: hidden;
    height: 30%;
    padding-top: 3%;
    padding-bottom: 3%;
    min-height: 145px;
  }
  #header_hp_all .container .wrapper img {
    width: auto !important;
    height: 250px !important;
    margin-top: 10% !important;
    margin-right: 6%;
  }
  #header_hp_all .container .wrapper h2 {
    align-self: unset !important;
    text-align: left;
    line-height: 90%;
  }
  #header_hp_all .container h1 {
    flex-direction: column;
  }
}

#header_hp_all .container .wrapper .first_column {
  display: flex;
  justify-content: flex-end;
}

#header_hp_all .container .wrapper .item.item-1 {
  display: flex;
  width: 75%;
  height: auto;
  min-width: 500px;
  max-width: 700px;
  max-height: 615px;
  padding-top: 3%;
  padding-bottom: 7%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 10px;
  border-top: 2px solid var(--main-colors-bleu-deskiz, #04D8D8);
  border-right: 2px solid var(--main-colors-bleu-deskiz, #04D8D8);
  border-bottom: 8px solid var(--main-colors-bleu-deskiz, #04D8D8);
  border-left: 2px solid var(--main-colors-bleu-deskiz, #04D8D8);
  background: #FFF;
  transition: all 0.15s ease;
}

#header_hp_all .container .wrapper .item.item-2 {
  display: flex;
  width: 75%;
  height: auto;
  min-width: 500px;
  max-width: 700px;
  max-height: 615px;
  padding-top: 3%;
  padding-bottom: 7%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 10px;
  border-top: 2px solid var(--main-colors-rouge-deskiz, #FF414C);
  border-right: 2px solid var(--main-colors-rouge-deskiz, #FF414C);
  border-bottom: 8px solid var(--main-colors-rouge-deskiz, #FF414C);
  border-left: 2px solid var(--main-colors-rouge-deskiz, #FF414C);
  background: #FFF;
  transition: all 0.15s ease;
}

#header_hp_all .container .wrapper h2 {
  color: var(--main-colors-bleu-fonc-deskiz, #032B44);
  text-align: center;
  align-self: stretch;
  font-family: Alpino;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 105%; /* 42px */
  letter-spacing: -1.2px;
  padding-left: 5%;
  padding-right: 5%;
}

#header_hp_all .container .wrapper img {
  width: auto;
  height: 400px;
}

/*Animation UI*/
#header_hp_all .container .wrapper .item.item-1:hover {
  box-shadow: 0px 2px 10px 0px #04D8D8;
}
#header_hp_all .container .wrapper .item.item-2:hover {
  box-shadow: 0px 2px 15px 0px #FF414C;
}
/*----------------------FIN PAGE ACCUEIL GLOBAL [#_hp_all]--------------------*/




/*-------------------------PAGE ACCUEIL B2B [#_hp_b2b]------------------------*/
/*-----------------------------------Header-----------------------------------*/
#header_hp_b2b {
  background: var(--main-colorsbleu-fonc-deskiz, rgba(3, 43, 68, 1));
  height: 100%;
  width: 100%;
  margin: 0;
  padding-top: 1%;
  padding-bottom: 7%;
}

#header_hp_b2b .container {
  padding-left: 10%;
  padding-right: 10%;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap : 1em 3.5em;
}

/*Responsive Header Sur téléphone*/
@media screen and (max-width: 1700px) {
  #header_hp_b2b .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap : 4em 0em;
  }
  #header_hp_b2b .container .item.item-1 .wrapper {
    padding-right: 0% !important;
  }
}

/*--------Title---------*/
#header_hp_b2b_hp_b2b.item {
  font-family: Alpino;
}

#header_hp_b2b strong {
  position: relative;
}

#header_hp_b2b strong::before {
  /* Highlight color */
  background-color:var(--main-colorsrouge-deskiz);
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 85%;
  left: -2px;
  bottom: 0;
  z-index: -1;
}

#header_hp_b2b .item.item-1 h1 {
  color: var(--main-colors-blanc-deskiz, #FFF);
  font-family: Alpino;
  max-width: 1150px;
  font-size: calc(3.75em + 1.25vw);
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -2.55px;
  position: relative; /* Ajoutez cette propriété */
  z-index: 2; /* Changez le z-index en 2 pour placer au-dessus de strong::before */
}
/*--------Fin du Title---------*/


/*--------Album Photo - Header---------*/
#header_hp_b2b .item.item-2 {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--main-colorsrouge-deskiz);
  margin-top: 50px;
  border-radius: 5px;
  transform: rotate(-2deg);
}

#header_hp_b2b .container .item.item-2 .img_header_true {
  background-image: url('../img/company/figma/figma-foodtruck.png'); /* Chemin vers votre image */
  background-size: cover; /* L'image couvrira toute la div tout en conservant ses proportions */
  background-position: center; /* Centre l'image horizontalement et verticalement */
  width: calc(95% + 5%);
  height: calc(100% + 5%);
  position: absolute;
  transform: translate(-50%, -50%);
  transform: rotate(2deg);
  border: 5px solid;
  border-color: var(--main-colorsblanc-deskiz);
  background-color: var(--main-colorsbleu-deskiz);
  border-radius: 5px;
  z-index: 11;
  max-width: 100%;
  max-height: 100%;
}

#header_hp_b2b .container .item.item-2 .img_header_blue {
  width: calc(95% + 5%);
  height: calc(100% + 5%);
  position: absolute;
  transform: translate(-50%, -50%);
  transform: rotate(5deg);
  background-color: var(--main-colorsbleu-deskiz);
  border-radius: 5px;
  z-index: 10;
  max-width: 100%;
  max-height: 100%;
}
/*--------Album Photo - Header---------*/


/*--------------Début de Form de connexion-------------*/
#header_hp_b2b .container .item.item-1 .wrapper {
  padding-right: 15%;
}

#header_hp_b2b .form_connexion {
  padding: 25px 22px;
  background-color: var(--main-colorsblanc-deskiz, rgba(255, 255, 255, 1));
  border-radius: 5px;
}

#header_hp_b2b .container .item.item-1 .form_connexion form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#header_hp_b2b .container .item.item-1 .form_connexion label {
  color: var(--main-colorsbleu-fonc-deskiz);
  font-family: alpinobold;
  font-size: calc(1.25em + 0.125vw);
  letter-spacing: -0.35px;
  margin-bottom: -5px;
}

#header_hp_b2b .container .item.item-1 .form_connexion input {
  border-radius: 3.598px;
  border: 0.6px solid var(--secondary-colors-bleu-cass-deskiz, #64879C);
  background: var(--secondary-colors-bleu-blanc-deskiz, #F1FAFF);
  display: flex;
  padding: 16px;
  width: auto;
  color: var(--secondary-colors-bleu-cass-deskiz, #64879C);
  font-family: Alpino;
  font-size: calc(1.125em + 0.125vw);
  font-style: normal;
  font-weight: 311;
  line-height: 105%; /* 25.183px */
  letter-spacing: -0.72px;
}

#header_hp_b2b .container .item.item-1 .form_connexion img {
  width: 16.8px;
 height: 16.778px;
}

#header_hp_b2b .container .item.item-1 .form_connexion a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  margin-bottom: -5px;
  gap: 10px;
  width: 100%;
  height: 1.7em;
  color: var(--main-colors-bleu-fonc-deskiz, #032B44);
  font-family: Alpino;
  font-size: calc(1.125em + 0.125vw);
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.2px;
  border-radius: 3.598px;
  border-top: 1.2px solid var(--main-colors-bleu-fonc-deskiz, #032B44);
  border-right: 1.2px solid var(--main-colors-bleu-fonc-deskiz, #032B44);
  border-bottom: 3.5px solid var(--main-colors-bleu-fonc-deskiz, #032B44);
  border-left: 1.2px solid var(--main-colors-bleu-fonc-deskiz, #032B44);
  background: var(--main-colors-jaune-deskiz, #FDC800);
  transition: all 0.15s linear;
}

#header_hp_b2b .container .item.item-1 .separator {
  display: flex;
  padding: 25px 5%;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#header_hp_b2b .container .item.item-1 .separator p {
  color: var(--main-colors-blanc-deskiz, #FFF);
  text-align: center;
  font-family: Eskool;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; 
}

#header_hp_b2b .container .item.item-1 .separator div {
  background: var(--main-colors-blanc-deskiz, #FFF);
  display: flex;
  height: 1px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
}

/*Animation UI*/
#header_hp_b2b .container .item.item-1 .form_connexion a:hover {
  border-top: 3.5px solid var(--main-colors-bleu-fonc-deskiz, #032B44);
  border-right: 1.2px solid var(--main-colors-bleu-fonc-deskiz, #032B44);
  border-bottom: 1.2px solid var(--main-colors-bleu-fonc-deskiz, #032B44);
  border-left: 1.2px solid var(--main-colors-bleu-fonc-deskiz, #032B44);
}
/*--------------Fin de Form de connexion-------------*/


/*--------------Alternatives de connexion------------*/
#header_hp_b2b .container .item.item-1 .alternatives_connexion {
  background: var(--secondary-colors-bleu-blanc-deskiz, #F1FAFF);
  justify-content: space-between;
  display: flex;
  border-radius: 5px;
  gap: 10px;
  padding: 12px 18px;
}

#header_hp_b2b .container .item.item-1 .alternatives_connexion .socials_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

#header_hp_b2b .container .item.item-1 .alternatives_connexion p {
  color: var(--main-colors-bleu-fonc-deskiz, #032B44);
  font-family: Alpino;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.2px;
}
/*--------------FIN Alternatives de connexion------------*/


/*--------------Boutons d'inscription------------*/
#header_hp_b2b .container .item.item-1 .form_inscription {
  background: var(--secondary-colors-bleu-blanc-deskiz, #F1FAFF);
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-radius: 5px;
  gap: 10px;
  padding: 12px 18px;
  margin-top : 12px;
}

#header_hp_b2b .container .item.item-1 .form_inscription .button_inscription {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#header_hp_b2b .container .item.item-1 .form_inscription .button_inscription a {
  display: flex;
  padding: 4.797px 22.785px;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  border-top: 1.2px solid var(--main-colors-bleu-fonc-deskiz, #032B44);
  border-right: 1.2px solid var(--main-colors-bleu-fonc-deskiz, #032B44);
  border-bottom: 3.5px solid var(--main-colors-bleu-fonc-deskiz, #032B44);
  border-left: 1.2px solid var(--main-colors-bleu-fonc-deskiz, #032B44);
  background: var(--main-colors-jaune-deskiz, #FDC800);
  color: var(--main-colors-bleu-fonc-deskiz, #032B44);
  font-family: Alpino;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.2px;
  text-decoration: none;
  transition: all 0.15s linear;
}

#header_hp_b2b .container .item.item-1 .form_inscription p {
  color: var(--main-colors-bleu-fonc-deskiz, #032B44);
  font-family: Alpino;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.2px;
}

/*Animation UI*/
#header_hp_b2b .container .item.item-1 .form_inscription .button_inscription a:hover {
  border-top: 3.5px solid var(--main-colors-bleu-fonc-deskiz, #032B44);
  border-right: 1.2px solid var(--main-colors-bleu-fonc-deskiz, #032B44);
  border-bottom: 1.2px solid var(--main-colors-bleu-fonc-deskiz, #032B44);
  border-left: 1.2px solid var(--main-colors-bleu-fonc-deskiz, #032B44);
}
/*--------------FIN Boutons d'inscription------------*/
/*-------------------------------FIN PAGE ACCUEIL B2B-----------------------------*/




/*-------------------------MAPIZ ENTREPRISE [#mapiz_mapbox]------------------------*/
/*-----------------------------------Header-----------------------------------*/
#map { position: absolute; top: 0; bottom: 0; width: 100%; }

/*-------------------------Fin MAPIZ ENTREPRISE [#mapiz_mapbox]------------------------*/